<?xml version="1.0"?>
<robot name="car">
  <link name="velodyne">
    <visual name="base_visual">
      <origin xyz="0 0 -2" rpy="1.57 0 0" />
      <geometry>
        <mesh filename="package://lidar_cluster/model/CAR_original.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
